@model IEnumerable<APP_MVC02a.Models.distrito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descrip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descrip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddistrito }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddistrito }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iddistrito })
        </td>
    </tr>
}

</table>
