@model APP_MVC02a.Models.Cliente

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        @Html.HiddenFor(model => model.idCliente)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apePaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apePaterno)
            @Html.ValidationMessageFor(model => model.apePaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apeMaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apeMaterno)
            @Html.ValidationMessageFor(model => model.apeMaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dni)
            @Html.ValidationMessageFor(model => model.dni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ruc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ruc)
            @Html.ValidationMessageFor(model => model.ruc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaNac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaNac)
            @Html.ValidationMessageFor(model => model.fechaNac)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaRegistro)
            @Html.ValidationMessageFor(model => model.fechaRegistro)
        </div>

      <div class="editor-label">
            ROL
        </div>
        <div class="editor-field">
            @Html.DropDownList("idrol", String.Empty)
            @Html.ValidationMessageFor(model => model.idrol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idestado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idestado)
            @Html.ValidationMessageFor(model => model.idestado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.clave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.clave)
            @Html.ValidationMessageFor(model => model.clave)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
