@model IEnumerable<APP_MVC02a.Models.insumo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomInsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaVenc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_medida.descrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoriaIn.descrip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomInsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaVenc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_medida.descrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoriaIn.descrip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idinsumo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idinsumo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idinsumo })
        </td>
    </tr>
}

</table>
